name: PR

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4
        with:
          node-version-file: .nvmrc
      - run: yarn --frozen-lockfile
      - run: yarn format
      - run: yarn checkchange
      - run: yarn build
      - run: yarn test
      - run: yarn docs
